{% extends 'base.html' %}

{% block content %}
    <h1>{{ news.title }}</h1>
    <p>{{ news.content }}</p>
    <p>Date: {{ news.created_at }}</p>

    <p>Likes: {{ news.like_set.count }}</p>


    {% if user.is_authenticated %}
    <a href="{% url 'add_like' pk=news.pk %}">Like!</a><br><br>
        {% with user.groups.all|join:"," as user_groups %}
            {% if "moderators" in user_groups or user == news.author %}
                <a href="{% url 'news_update' news.pk %}">Edit</a>

                <form action="{% url 'delete_news' news.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete news</button>
                </form>
            {% endif %}
        {% endwith %}
    {% endif %}

    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.content }}

                {% if user.is_authenticated %}
                    {% with user.groups.all|join:"," as user_groups %}
                        {% if "moderators" in user_groups or user == comment.author %}
                            <form action="{% url 'delete_comment' comment.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit">Del comment</button>
                            </form>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'news_detail' news.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add comment</button>
        </form>
    {% else %}
        <p>Add comment only for authorized users.</p>
    {% endif %}
{% endblock %}