{% extends 'base.html' %}

{% block content %}
    <h1>{{ news.title }}</h1>
    <p>{{ news.content }}</p>
    <p>Date: {{ news.created_at }}</p>

    <p>Likes: {{ news.like_set.count }}</p>
    <a href="{% url 'add_like' pk=news.pk %}">like!</a><br>
<br>
    <a href="{% url 'news_update' news.pk %}">Edit</a>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add comment</button>
    </form>
{% endblock %}