<!DOCTYPE html>
<html>

<head>
    <title>Кітап.kz - Добавить книгу</title>
</head>

<body>
    <!-- код писать сюда -->

    <h1>Добавить книгу</h1>
    <form method="POST" action="/books">
        <label for="title">Название:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="author">Автор:</label><br>
        <input type="text" id="author" name="author" required><br><br>

        <label for="year">Год издания:</label><br>
        <input type="number" id="year" name="year" required><br><br>

        <label for="total_pages">Количество страниц:</label><br>
        <input type="number" id="total_pages" name="total_pages" required><br><br>

        <label for="genre">Жанр:</label><br>
        <input type="text" id="genre" name="genre" required><br><br>

        <button type="submit">Добавить книгу</button>
    </form>
    
    <!-- конец -->
</body>

</html>