<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить</title>
</head>


<body>
    <h1>Добавить авто</h1>
    <form method="post" action="/cars/new">
        <input type="text" name="name" placeholder="Марка" required>
        <input type="number" name="year" placeholder="Года" required>
        <button type="submit">Добавить</button>
    </form><br>
    <a href="/cars">< Назад в список</a>
</body>


</html>