<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск</title>
</head>


<body>
    <h1>Поиск машин</h1>
    <form method="get" action="/cars/search">
        <input type="text" name="car_name" value="{{ car_name or '' }}" placeholder="Название марки">
        <button type="submit">Поиск</button>
    </form>
    <ul>
        {% for car in cars %}
            <li>{{ car.name }} ({{ car.year }})</li>
        {% endfor %}
    </ul><br/>
    <a href="/cars">Назад в список</a>
</body>


</html>