<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Добро пожаловать в маркетплейс цветов!</h1>


    <a href="/flowers">Цветы</a><br>
    {% if user %}
    <a href="/profile">Профиль</a><br>
    <a href="/purchased">Купленные</a><br>
    {% else %}
    <br>
    <a href="/login">Войти</a> | 
    <a href="/signup">Зарегистрироваться</a>
    {% endif %}
</body>
</html>